.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 10px;
    margin-bottom: 30px;
}

.grid-item a {
    color: rgb(78, 159, 61) /* Or any color you prefer */}

.grid-item {
    border: 5px solid green;
    padding: 10px;
}

.description {
    margin-top: 20px;
}

body {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
}
