/* bg color of sidebar */
.w3-sidebar {
    z-index: 1;
    background-color: black;
    margin-top: 41.5px;
    z-index: 1!important;
    margin-bottom: 40px;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    position: absolute;
    color: #000000 !important;
    background-color: #b7aaa3 !important;


}