
/* TOP BAR STUFF */

/* the background color of the top bar */
.top-bar {
    background-image: linear-gradient(to right,darkslategrey, green);
    overflow: hidden;
    /* position: fixed; */
    /* margin-top: 100px; */
    width: 100%;
    top: 0px;
    clear: both;
}

/* how links inside the top bar look like */
.top-bar a {
    float: left;
    color: whitesmoke;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

/*!* color changes when code is hovered over *!*/
.top-bar a:hover {
    background-color: whitesmoke;
    color: rgb(51, 48, 228);
}

/*!* color that indicates what part of the site you are on *!*/
/*.top-bar a.active {*/
/*    background-color: green;*/
/*    color: black;*/
/*}*/

/* BODY STUFF */

h1 {
    font-size: 50px;
    color:rgb(78, 159, 61);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding-top: 20px;
}

h2 {
    font-size: 25px;
    color:whitesmoke;
    font-family: 'Orbitron', sans-serif;
    padding-top: 15px;
    margin-bottom: -0.5px;
}

p {
    font-size: 25px;
color: rgb(19, 0, 90);
}

body {
    margin:0;
    box-sizing: border-box;
    background-color: rgb(25, 26, 25)
}

a{
    color:whitesmoke;
}

#PC {
    display: block;
    margin: auto;
}

#PC div {
    position: relative;
    clear: both;
}

#PC h1 {
    /* padding-top: 100px; */
    /* margin-bottom: 800px; */
}

#PC img {
    width: 30%;
}

footer {
    text-align: center;
    background-image: linear-gradient(to right,darkslategrey, green);
    background-color: rgb(78, 159, 61);
    color: whitesmoke;
    position:absolute;
    bottom:0;
    width:100%;
}